$card-height = 100px
$card-width = 70px
$animation-spacing = 20px

.cards
    height: $card-height


    .deck
        position: relative
        display: inline-block
        width: $card-width
        margin: 10px
        height: 100px
        overflow: visible
        border-radius 5px

        &.facedown
            cursor: pointer

        &.faceup
            .card
                animation: 2s cardFlip ease
                transform: rotateY(180deg);

        .card
            position: absolute
            display: inline-block
            width: $card-width
            height: $card-height
            border-radius: 5px
            background: $primary
            color: $dark
            line-height: $card-height
            text-align: center
            user-select: none
            vertical-align: top
            transform-style: preserve-3d

            .card-side
                position: absolute
                width: 100%
                height: 100%
                backface-visibility: hidden
                display: flex
                flex-direction: column
                justify-content: center

                &.back
                    line-height: 25px
                    transform: rotateY(0deg)
                    background-image: linear-gradient(45deg, $accent 25%, transparent 25%),
                                      linear-gradient(-45deg, $accent 25%, transparent 25%),
                                      linear-gradient(45deg, transparent 75%, $accent 75%),
                                      linear-gradient(-45deg, transparent 75%, $accent 75%);
                    background-size: 8px 8px;
                    background-position: 0 0, 0 3px, 3px -3px, -4px 0px;

                &.front
                    line-height: 25px
                    transform: rotateY(180deg)

                    .face-icon
                        flex: 1 1 auto

                    p
                        margin: 6px
                        font-size: 24px

@keyframes cardFlip {
    0% {
        transform: rotateY(0deg)
        left: -($card-width + $animation-spacing)
        box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    }
    30% {
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }
    80% {
        left: -(($card-width + $animation-spacing) / 2)
        transform: rotateY(180deg) scale(2)
    }
    100% {
        left: 0px
        box-shadow: 0 1px 2px rgba(0,0,0,0.15);
        scale(1)
    }
}

// @keyframes cardFlip {
//     0% {
//         transform: rotateY(0deg)
//         left: -($card-width + $animation-spacing)
//         box-shadow: 0 1px 2px rgba(0,0,0,0.15);
//     }
//     50% {
//         box-shadow: 0 5px 15px rgba(0,0,0,0.3);
//     }
//     100% {
//         transform: rotateY(180deg)
//         left: 0px
//         box-shadow: 0 1px 2px rgba(0,0,0,0.15);
//     }
// }
