$gray = #CBC0D3
$mist = #DEE2FF
$pink = #EFD3D7
$blush = #FEEAFA
$dark = #8E9AAF

*
    box-sizing: border-box

body, html
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    padding: 0px
    margin: 0px
    background: $dark

#elm-main
    position: absolute
    display: flex
    top: 0
    right: 0
    bottom: 0
    left: 0
    width: 1000px
    height: 600px
    margin: auto
    max-width: 95%
    max-height: 95%
    background: $blush
    border-radius: 12px
    padding: 10px

.button
    background: $mist
    color: $dark
    width: 30px
    height: 30px
    line-height: 30px
    text-align: center
    cursor: pointer

input
    background: $mist
    color: $dark
    outline: none
    box-shadow: none
    border: none
    padding: 5px

    &::-ms-clear
        display: none

    &:active
        outline: none


@require "sitting_area.styl"
@require "rules.styl"
