$primary = #6F7B8B
$mist = #F0F3F8
$off = #30343D
$dark = #0F0F0F
$accent = #F50016;

*
    box-sizing: border-box

body, html
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    padding: 0px
    margin: 0px
    color: $mist
    font-family: 'Roboto', sans-serif;

    &::after {
        content: ""
        background: url("/assets/cards.jpg")
        opacity: 0.5
        top: 0
        left: 0
        bottom: 0
        right: 0
        position: absolute
        z-index: -1
        background-size: cover
    }

#elm-main
    position: absolute
    display: flex
    top: 0
    right: 0
    bottom: 0
    left: 0
    width: 1000px
    height: 600px
    margin: auto
    max-width: 95%
    max-height: 95%
    background: $off
    border-radius: 12px
    padding: 10px
    box-shadow: 4px 4px 10px $dark, -4px -4px 10px $dark;

.button
    background: $primary
    color: $accent
    width: 30px
    height: 30px
    line-height: 30px
    text-align: center
    cursor: pointer
    border: 1px solid $accent
    border-left: none

input
    background: $primary
    color: $dark
    outline: none
    box-shadow: none
    border: none
    padding: 5px
    border: 1px solid $accent
    border-right: none

    &::-ms-clear
        display: none

    &:active
        outline: none

    &::placeholder
        color: $off
        opacity: 1
    &:-ms-input-placeholder
        color: $off
    &::-ms-input-placeholder
        color: $off

.left
    text-align: left

.right
    text-align: right

@require "sitting_area.styl"
@require "rules.styl"
