.players
    .player
        // styled in PlayersView in order to position absolutely in a circle
        // around the cards
        position: relative
        margin: 0px
        padding: 5px
        left: 5px
        background: $primary
        color: $dark
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        cursor: pointer

        .player-name
            text-transform: capitalize

        .drawing
            display: none

        &.is-turn
            background: $mist
            border: 1px solid $accent

            .drawing
                display: block

        &.is-swapping
            animation: swapping 1s infinite alternate

@keyframes swapping {
    from {
        box-shadow: 0px 0px 0px 3px #8E9AAF;
    }
    to {
        box-shadow: 0px 0px 0px 6px #8E9AAF;
    }
}
