.players
    .player
        // styled in PlayersView in order to position absolutely in a circle
        // around the cards
        position: relative
        margin: 0px
        padding: 5px
        left: 5px
        background: $gray
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column

        .player-name
            text-transform: capitalize

        .drawing
            display: none

        &.is-turn
            background: $mist
            border: 1px solid $gray

            .drawing
                display: block

@keyframes blinking {
    from {
        opacity: 0
        visibility: 0
    }
    to {
        opacity: 1
        visibility: 1
    }
}
